@model Mercado.MVC.Models.FornecedorModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>FornecedorModel</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Razao_Social" class="control-label"></label>
                    <input asp-for="Razao_Social" type="text" class="form-control" />
                    <span asp-validation-for="Razao_Social" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Nome_Fantasia" class="control-label"></label>
                    <input asp-for="Nome_Fantasia" type="text" class="form-control" />
                    <span asp-validation-for="Nome_Fantasia" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Data_Nascimento" class="control-label"></label>
                    <input asp-for="Data_Nascimento" type="date" class="form-control" />
                    <span asp-validation-for="Data_Nascimento" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="RG" class="control-label"></label>
                    <input asp-for="RG" data-mask="00.000.000-0" type="text" id="rg" class="form-control" />
                    <span asp-validation-for="RG" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="CNPJ" class="control-label"></label>
                    <input asp-for="CNPJ" type="text" data-mask=" 00.000.000/0000-00" class="form-control" />
                    <span asp-validation-for="CNPJ" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" type="email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Telefone" class="control-label"></label>
                    <input asp-for="Telefone" data-mask="(00)0000-0000" type="text" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Celular" class="control-label"></label>
                    <input asp-for="Celular" data-mask="(00)00000-0000" type="text" class="form-control" />
                    <span asp-validation-for="Celular" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Whatsapp" class="control-label"></label>
                    <input asp-for="Whatsapp" data-mask="(00)00000-0000" type="text" class="form-control" />
                    <span asp-validation-for="Whatsapp" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Sexo" class="control-label"></label>
                    <select asp-for="Sexo" asp-items="@ViewBag.Sexo" class="form-control"></select>
                    <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="CEP" class="control-label"></label>
                    <input asp-for="CEP" id="cep" type="text" onchange="pesquisacep()" data-mask="00000-000" class="form-control" />
                    <span asp-validation-for="CEP" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Bairro" class="control-label"></label>
                    <input asp-for="Bairro" type="text" id="bairro" class="form-control" />
                    <span asp-validation-for="Bairro" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Endereco" class="control-label"></label>
                    <input asp-for="Endereco" type="text" id="endereco" class="form-control" />
                    <span asp-validation-for="Endereco" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Uf" class="control-label"></label>
                    <select asp-for="Uf" id="uf" asp-items="@ViewBag.Uf" class="form-control"></select>
                    <span asp-validation-for="Uf" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Complemento" class="control-label"></label>
                    <input asp-for="Complemento" type="text" id="complemento" class="form-control" />
                    <span asp-validation-for="Complemento" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="NumeroCasa" class="control-label"></label>
                    <input asp-for="NumeroCasa" type="text" class="form-control" />
                    <span asp-validation-for="NumeroCasa" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group col-md-6">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/js/ViaCepScript.js" type="text/javascript"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
