@model Mercado.MVC.Models.UsuarioModel

@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_Layout-Interno.cshtml";
}

<h1>Logout</h1>

<h4>LoginUsuarioModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Logout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Sair" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
